<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <p>
                &copy; Liliya_Fedyushko
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
            </p>
        </div>
    </footer>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-4.0.0/css/bootstrap.css}"/>
    <script th:src="@{/lib/jquery/jquery-3.3.1.js}"></script>
</th:block>
</body>
</html>