<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome on WebPlanner</title>
    <script th:src="@{/lib/jquery/jquery-3.3.1.js}"></script>

</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Welcome page</h1>
            <p th:text="'Date-time: ' + ${time} + '!'" />
            <p th:text="'Message: ' + ${message} + '!'" />
        </div>
    </div>
    <p><a href="/" th:href="@{/login}">Log in</a></p>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-4.0.0/css/bootstrap.css}"/>
    <script th:src="@{/lib/jquery/jquery-3.3.1.js}"></script>
</div>
</body>


</html>